@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fjalla One', 'Noto Sans TC', sans-serif;
    background-image: url(images/Hero%20Photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 90%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.navbar-text {
    font-size: 50px;
    color: black;
}

.navbar-item {
    margin: 30px 40px 0 0;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.clear {
    width: 100%;
    height: 150px;
}

li {
    font-size: 25px;
    color: white;
    display: inline-block;
    margin: 3px 10px 0 0;
    text-shadow: 1px 1px black;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    height: 400px;
}

.jumbotron h1 {
    text-align: center;
    margin-top: 100px auto;
    color: white;
    font-size: 100px;
}

.jumbotron .btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    border: 1px solid gray;
}

.socialbutton {
    text-align: center;
}

.socialbutton li {
    display: inline-block;
}

.socialbutton img {
    width: 30px;
}
