body {
    background-image: url(/images/Hero%20photo2.jpg);
}

.section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

p {
    text-align: center;
}

h3 {
    text-decoration: underline;
    text-align: center;
    color: black;
}

section a {
    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: none;
}
